#article-container
    .genshin-main
        overflow: auto
        padding: 0 0 16px

    .genshin-query
        position: relative
        float: left
        overflow: hidden
        margin: 6px 4px
        width: calc(50% - 8px)
    
    .genshin-query-button
        border-radius: 8px
        background: $dark-black
        -webkit-transform: translate3d(0, 0, 0)
        